*{
    box-sizing: border-box;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
}

:root{
    --lightGrey:#a7b0ba;
    --grey:#859098;
    --red: #ff545a;
}


/*pre header section begin*/
.preHead{
    width: 100%;
    border: 1px solid var(--lightGrey);
    display: flex;
    justify-content: space-between;
}

.preHead p,.preHead a{
    font-size: 0.8em;
    text-align: center;
    color: var(--grey);
}

.preHead select,.preHead i{
    border: none;
    background-color: inherit;
    color: var(--grey);
}

.preHead select:visited{
    border: none;
}

.preHead button{
    background-color: white;
}

.preHead button{
    border: none;
}

.lang-curr-search,.lang,.curr,.search-preHead{
    display: flex;
}

.lang-curr-search{
    gap: 0;
}

.lang,.curr,.search-preHead,.ph-nb,.sign-in,.register{
    border: 1px solid var(--lightGrey);
    padding: 10px 20px 10px 20px;
    border-top: none;
    border-bottom: none;
}

.nb-sgn-reg{
    display: flex;

}

.nb-sgn-reg a{
    text-decoration: none;
}

/*preHeader section End*/

/*Header section begin*/
.header{
    display: flex;
    position: fixed;
    background-color: white;
    z-index: 1000;
    width: 100%;
    justify-content: space-between;
    padding: 15px 0px 15px 0px;
    box-shadow: 0 0px 10px rgba(71,71,71,.3);
}

/*for the fixed header (javascript)*/
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1001;
}

.header a{
    text-decoration: none;
    color: var(--grey);
    font-weight: bold;
}

.navbar{
    padding: inherit;
}

.navbar li{
    list-style-type: none;
    transition-duration: 0.2s;
}

.navbar li:hover{
    color: var(--red);
}

.listRace{
    padding: inherit;
    margin-left: 7%;
}

.listRace a{
    color: black;
    font-family: monospace !important; 
    font-size: 1.5em;
    text-decoration: none;
}

.listRace span{
    color: var(--red); 
}

.navbar ul{
    display: flex;
    gap: 50px;
    margin-right: 50px;
}

/*end of header section*/


/*begin of description section*/

.description-section::before{
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(65,73,89,.65);
    z-index: -1;
}

.description-section{
    position: relative;
    background:url(../images/welcome-hero/banner.jpg)no-repeat;
    background-position:center;
    background-size:cover;
    text-align: center;
    height:800px;
    z-index: 1;
}

.desc-container p{
    color: white;
}

.bold-rep{
    width: 75%;
    margin-left: 12.5%;
}
.bold-rep p{
    font-size: 2.8em;
    font-weight: bolder;
    text-align: center;
    padding-top: 150px;
}

.light-rep{
    font-size: 1.7em;
    text-align: center;
    margin-top: 80px;
}

/*mini form*/

.mini-form{
    margin-top: 50px;
    display: flex;
    width: 90%;
    margin-left: 5%;
    font-size: 1.3em;
    padding: 15px 0px 10px 0px;
    border-radius: 5px;
}

.mini-form input{
    border: 0;
    outline: 0 !important;
    height: inherit;
    font-weight: 600;
    color: var(--lightGrey);
}

.mini-form label{
padding-top: 10px;
font-size: 0.9em;
}

.mini-form i{
    padding-top: 10px;
}


.mini-form-left,.mini-form-right{
    background-color: white;
    padding: 15px 5px 15px 5px;
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    border-right: 1px solid var(--lightGrey);
}

.mini-form-button button{
    padding: 10px;
    font-family: inherit;
    width: 150px;
    height: 75px;
    font-size: 0.8em;
    border: none;
    border-radius: 5px;
    background-color: var(--red);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    margin-left: 20px;
}
/*end of description section*/



/*services(sub section)*/
.services-container{
    width: 80%;
    margin-left: 10%;
    display: flex;
    gap: 15px;
}

.service{
    width: calc(100%/5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-radius: 5px;
    z-index: 1000;
    position: relative;
    bottom: 90px;
    background-color: white;
    padding: 25px;
    box-shadow: 0 0px 10px rgba(71,71,71,.2);
    transition: 0.3s linear;
}

.service:hover{
    background-color: var(--red);
    i,h3,a{
        color: white;
    }
}

.service i{
    color: rgba(71,71,71,.5);
    font-size: 2em;
}

.service a{
    color: black;
    text-decoration: none;
    font-weight: lighter;
}

.service h3{
    color: rgba(71,71,71,.5);
    font-weight: lighter;
}

/*end of services section*/



/*begin of how it works section*/
.how-it-works-container{
    text-align: center;
}

.steps-container{
    display: flex;
    margin-top: 50px;
    gap: 20px;
    width: 80%;
    margin-left: 10%;
}

.step{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 5px;
    box-shadow: 0 0px 10px rgba(71,71,71,.2);
    padding: 40px;
    transition: 0.5s linear;
}

.step:hover{
    background-color: var(--red);
    i{
        background-color:white;
        color: var(--red);
    }
    h1{
        color: white;
    }
    p{
        font-weight: 500;
    }
    button{
        background-color: white;
        border: none;
        color: var(--red);
    }
}

.step i{
    font-size: 1.5em;
    display: inline-block;
    color: #50616c;
    width: 80px;
    height: 80px;
    display: inline-block;
    color: #50616c;
    width: 80px;
    height: 80px;
    line-height: 80px;
    background: #eef2f6;
    border-radius: 50%;
}

.step button{
    background-color: transparent;
    border: 1px solid var(--lightGrey);
    border-radius: 5px;
    padding: 7px 10px 7px 10px;
    cursor: pointer;
    color: var(--lightGrey);
}

.step h1{
    font-weight: lighter;
}

.step p{
    color: var(--lightGrey);
}

/*end of how it works section*/


/*Begin of Explore section*/
.explore-section{
    margin-top: 80px;
    background-color: #eeeeee91;
}

.explore-container{
    max-width: 90%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3%;
    margin-top: 50px;
}

.place{
    display: flex;
    flex-direction: column;
   flex: 0 1 30%;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid rgba(209, 209, 209, 0.213);
}

.place:hover{
    box-shadow: 0 0px 10px rgba(71,71,71,.5);
    transition-duration: 0.3s;
}

.place img{
    height: 250px;
    width: auto;
}

.place-image-lorem img{
    height: 40px;
    width: 40px;
}

.place div{
    display: flex;
    gap: 13px;
    align-items: center;
    padding-right:5px;
}

#dollar{
    color: var(--red);
}

.place-rating div{
    border-right: 1px solid var(--lightGrey);
}

.place-rating div:last-child{
    border-right: none;
}

.place-rating p{
    font-size: 0.7em;
    color: var(--lightGrey);
}

#rating{
    background-color: rgb(90, 239, 63);
    height: fit-content;
    width: auto;
    color: white;
    font-size: 0.9em !important;
    padding: 4px;
    border-radius: 5px;
}

.place>span{
    font-weight: bold;
    margin-top: 10px;
}

.place-image-lorem div p{
    font-size: 0.8em;
    width: 90%;
    color: var(--lightGrey);
}

.horizontal-line{
    border: 1px solid var(--lightGrey);
    height: 0.5px;
    width: 70%;
    margin-left: 15%;
    margin-top: 30px;
    margin-bottom: 15px;
}

.place-info{
    justify-content: space-between;
    margin-bottom: 20px;
}

.place-info ul{
    display: flex;
    gap: 20px;
    margin-right: 15px;
}

.place-info p{
    margin-left: 15px;
    color: rgb(40, 206, 11);
}

.place-info li{
    list-style-type: none;
}

.place-info i{
    color: var(--lightGrey);
}

.place-info i:hover{
    color: var(--red);
    transition-duration: 0.4s;
}

.place-image-lorem{
    margin-left: 10%;
    margin-top: 10px;
}
/*end of explore section*/


/*Begin of reviews section*/
.reviews-section{
    margin-top: 50px;
}

.reviews-container{
    width: 100%;
    margin-top: 50px;
}

.review{
    display: inline-block;
    width: 30%;
    margin-left: 35%;
    box-shadow: 0 0px 10px rgba(71,71,71,.4);
    padding: 30px 20px 30px 20px;
}

.review-img-rating{
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

.review-img-rating img{
    height: 70px;
    width: 70px;
}

.review-img-rating p{
    color: var(--lightGrey);
}

.reviewer-info{
    line-height:25px;
}

.reviewer-info i{
    color: rgb(254, 228, 84);
}

.desc{
    margin-top: 20px;
}

.desc p{
    width: 70%;
    margin-left:13%;
    color: var(--lightGrey);
}


/*numbers*/
.nb::after{
    content: "K+";
}

.nb-container::before{
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(65,73,89,.65);
    z-index: -1;
}

.nb-container{
    position: relative;
    background:url(../images/welcome-hero/banner.jpg)no-repeat;
    background-position:center;
    background-size:cover;
    height:100%;
    width: 100%;
    z-index: 1;
    display: flex;
    font-size: 4em;
    color: white;
    justify-content: space-evenly;
    margin-top: 100px;
}

.nbs{
    padding: 50px;
    margin: 50px 0px 50px 0px;
}

/*end of review section*/


/*begin of Blog section*/
.blog-section{
    margin-top: 100px;
}

.blog-container{
    display: flex;
    width: 90%;
    justify-content: center;
    margin-left: 5%;
    gap: 3%;
    margin-top: 50px;
}

.blog{
    box-shadow: 0 0px 10px rgba(71,71,71,.2);
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    transition-duration: 0.3s;
}

.blog:hover{
    box-shadow: 0 0px 10px rgba(71,71,71,.9);
    h2{
        color: var(--red);
    }
}

.blog h2{
    font-size: 1.21em;
    font-weight: lighter;
    text-align: center;
}

.blog p{
    color: var(--grey);
    margin-left: 8%;
}

.blog-desc,.blog-info,.blog-lorem{
    padding: 10px;
}
/*end of blog section*/


/*begin of contacts section*/
.contact-section{
    margin-top: 100px;
    text-align: center;
}

.contact-section p:first-child{
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
}

.contact-section p:nth-child(2){
    color: #7b8088;
    font-size: 16px;
    font-weight: 500;
    margin-top: 28px;
}

.account{
    margin-top: 50px;
}

.account form{
    width: fit-content;
}

.account input{
    height: 60px;
    width: 630px;
    outline: none !important;
    border: none;
    box-shadow: 0 0px 10px rgba(71,71,71,.2);
    border-radius: 5px;
    color: #a5adb3;
    font-size: 1.15em;
    padding-left: 40px;
}

.account button{
    height: 58px;
    font-size: 1.3em;
    color: white;
    background-color: var(--red);
    border: none;
    border-radius: 5px;
}

.account-container{
    width: 100%;
    height: 500px;
    background-color: #eeeeee9e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*footer nav*/
.footer{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 0.5px solid var(--lightGrey);
}

.footer-nav ul{
    display: flex;
    gap: 50px;
    margin-right: 50px;
}

.footer-nav li{
    list-style-type:none;
    transition-duration: 0.2s;
}

.footer-nav li:hover{
    color: var(--red);
}

.footer-nav a{
    text-decoration: none;
    color: var(--grey);
    font-size: 1.2em;
}



.footer-cpy-icn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: var(--grey);
}

.phone{
    display: flex;
    transition-duration: 0.3s;
}

.phone:hover{
    p{
        color: var(--red);
    }
    i{
        color: var(--red);
    }
}

.icons{
    display: flex;
    gap: 30px;
    font-size: 1.5em;
}

.icons i{
    transition-duration: 0.2s;
}

.icons i:hover{
    color: var(--red);
}

.icns{
    display: flex;
    margin-right: 50px;
    gap: 30px;
    align-items: center;
}
